@model web.Models.AppUser

@{
    ViewData["Title"] = "User Profile";
    var uId =  ViewData["CurrentUserId"] as string;
}

<h1>@Html.DisplayFor(model => model.UserName)</h1><br>

<div>
    <div style="width:180px; height:180px;">
        @{
            string imgSrc = "";
            if(Model.profilePic != null && !Model.profilePic.Equals("")){
                imgSrc = "userFiles/" + Model.Id + "/" + Model.profilePic;
            }else{
                imgSrc = "images/avatar.webp";
            }
        }
        <img src="~/@imgSrc" style="height: 100%; width: 100%; object-fit: cover; border-radius:50%;">
    </div>
    @if(Model.Id == uId){
        <a asp-area="" asp-controller="AppUsers" asp-action="SetProfilePicture">Change Profile Picture</a>
    }
    <hr/>
    <dl class="row">
        <dt class = "col-sm-2">
            Name:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            Email:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            Phone:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt>
            @if(Model.Id == uId){
                <partial name="_FriendRequests"></partial>
            }
        </dt>
        <dd>
            @if(!Model.Id.Equals(uId)){
                if(Model.ReceievedFriendRequests.Any(u => u.RequestedById == uId)){
                    var caseSwitch = Model.ReceievedFriendRequests.First(u => u.RequestedById == uId);
                        switch (caseSwitch.FriendRequestFlag)
                        {
                            case FriendRequestFlag.Pending:
                                <div>
                                    <a href="@Url.Action("SendFriendRequest", "AppUsers", new { UserId = Model.Id })" title="List View" class="links">Unsend Friend Request</a>
                                </div>
                                break;
                            case FriendRequestFlag.Approved:
                                <div>
                                    <a href="@Url.Action("SendFriendRequest", "AppUsers", new { UserId = Model.Id })" title="List View" class="links">Remove from Friends</a>
                                </div>
                                break;
                            default:
                                <div>
                                    <a href="@Url.Action("SendFriendRequest", "AppUsers", new { UserId = Model.Id })" title="List View" class="links">You cannot Friend this user</a>
                                </div>
                                break;
                        }
                }else if(Model.SentFriendRequests.Any(u => u.RequestedToId == uId)){
                        var caseSwitch = Model.SentFriendRequests.First(u => u.RequestedToId == uId);
                        switch (caseSwitch.FriendRequestFlag)
                        {
                            case FriendRequestFlag.Pending:
                                <div>
                                    <a href="@Url.Action("SendFriendRequest", "AppUsers", new { UserId = Model.Id})" title="List View" class="links">Accept Friend Request</a> |
                                    <a href="@Url.Action("SendFriendRequest", "AppUsers", new { UserId = Model.Id, accept = false })" title="List View" class="links">Reject Friend Request</a>
                                </div>
                                break;
                            case FriendRequestFlag.Approved:
                                <div>
                                    <a href="@Url.Action("SendFriendRequest", "AppUsers", new { UserId = Model.Id, accept = false })" title="List View" class="links">Remove from Friends</a>
                                </div>
                                break;
                            default:
                                <div>
                                    <a href="@Url.Action("SendFriendRequest", "AppUsers", new { UserId = Model.Id })" title="List View" class="links">You cannot Friend this user</a>
                                </div>
                                break;
                        }
                }else{
                    <div>
                        <a href="@Url.Action("SendFriendRequest", "AppUsers", new { UserId = Model.Id })" title="List View" class="links">Send Friend Request</a>
                    </div>
                }         
            }   
        </dd>
    </dl>
</div>
