@model web.Models.AppUser

@{
    ViewData["Title"] = "User Profile";
    var uId =  ViewData["CurrentUserId"];
}

<h1>User Profile</h1><br>

<div>
    <h4>@Html.DisplayFor(model => model.UserName)</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Name:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            Email:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            Phone:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dd>
            @if(!Model.Id.Equals(uId)){
                <div>
                    <a href="@Url.Action("SendFriendRequest", "AppUsers", new { UserId = Model.Id })" title="List View" class="links">Send Friend Request</a>
                </div>
            }   
        </dd>
    </dl>
</div>
<div>
</div>
