@model IEnumerable<web.Models.Post>

@{
    var uId =  ViewData["CurrentUserId"] as string;
    string wwwroot = ViewData["wwwroot"] as string;
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Share your interest</a>
</p>
<table class="table">
    <tbody>
@foreach (var item in Model) {
        <tr>
        <td style="border-top-color:#121212;">
            <div class="container" style="width:80%; background-color:#242424; border-radius:10px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                <div class="row" style="padding-left:0px">
                    <div class="col align-self-start" style="padding-left:0px">
                        <a href="@Url.Action("Details", "AppUsers", new { id=item.OwnerId })">
                            @{
                                string imgSrc = "";
                                if(item.Owner.profilePic != null && !item.Owner.profilePic.Equals("")){
                                    imgSrc = "userFiles/" + item.OwnerId + "/" + item.Owner.profilePic;
                                }else{
                                    imgSrc = "images/avatar.webp";
                                }
                            }
                            <img src="~/@imgSrc" style="padding:3px; width:48px; height:48px; border-radius:50%;">
                            <b>@Html.DisplayFor(modelItem => item.Owner.UserName)</b>
                        </a>
                        <span style="color:gray; font-size:70%;">@item.Type.Name</span>
                    </div>
                    <span style="margin-right:10px; margin-top:5px; color:gray; font-size:70%; float:right;">
                        Shared at @Html.DisplayFor(modelItem => item.DateCreated)
                    </span>
                </div>
                <div class="row" style="padding:0px; width:100%;">
                    @{
                        string image = item.Image;
                        if(image != null && !image.Equals("")){
                            var postImg = "userFiles/" + item.OwnerId + "/" + item.PostId + "/" + image;
                            <img src="~/@postImg" style="width:100%; height:auto;">
                        }
                    }
                </div>
                <div class="row" style="background-color: #353535; word-break: break-all">
                    <p style="word-break: break-all color:white; margin-bottom:0px; margin-left:10px; margin-right:10px;">
                        @Html.DisplayFor(modelItem => item.Text)
                    </p>
                </div>
                <div class="row" style="color:#aaaaaa; font-size:90%;">
                    <div class="col" style="padding-left:5px">
                        <partial name="_LikePartial" for="@item"/>                 
                    </div>
                    <div class="col text-right">
                        @{
                            if(uId.Equals(item.OwnerId)){
                                    <a asp-action="Edit" asp-route-id="@item.PostId">Edit</a> <span>|</span>
                                    <a asp-action="Delete" asp-route-id="@item.PostId">Delete</a>
                            }
                        }
                        </div>
                </div>
            </div>
        </td>
    </tr>
}
    </tbody>
</table>