@model IEnumerable<web.Models.Post>

@{
    ViewData["Title"] = "Posts";
    var uId =  ViewData["CurrentUserId"] as string;
    string wwwroot = ViewData["wwwroot"] as string;
}

<h1>Home</h1>

<p>
    <a asp-action="Create">Share your interest</a>
</p>
<table class="table">
    <tbody>
@foreach (var item in Model) {
        <tr>
        <td style="border-top-color:#121212;">
            <div style="background-color:#242424; margin-left:20%; margin-right:20%; text-align:left; word-wrap:break-word; border-radius:10px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                <p style="margin-bottom: 0px; color:#cdcdcd; text-align:left; margin-left:10px; margin-top:5px;">
                    <a href="@Url.Action("Details", "AppUsers", new { id=item.OwnerId })"><b>@Html.DisplayFor(modelItem => item.Owner.UserName)</b></a>
                    <span style="margin-right:10px; margin-top:5px; color:gray; font-size:70%; float:right;">
                        Shared at @Html.DisplayFor(modelItem => item.DateCreated)
                    </span>
                </p>
                <div>
                    @{
                        string image = item.Image;
                        if(image != null && !image.Equals("")){
                            var postImg = item.OwnerId + "/" + item.PostId + "/" + image;
                            <img src="~/@postImg" style="margin-top:0px; margin-left:auto; margin-right:auto; max-height:100%; width:100%; height:auto;">
                        }
                    }
                </div>
                <div style="background-color: #353535; max-height:2%"><p style="color:white; margin-bottom:0px; margin-left:10px; margin-right:10px;">@Html.DisplayFor(modelItem => item.Text)</p></div>
                    <p style="margin-left:10px; margin-bottom:5px; color:#aaaaaa; font-size:90%;">
                        <div style="display:table; width:100%;">
                            <div id="count" style="display:table-cell; padding-left:10px; padding-right:5px; width:auto;">
                                @Html.DisplayFor(modelItem => item.Likes.Count)
                            </div>
                            <div style="height:28px; max-height:28px; display:table-cell" id="btn">
                                <a href="@Url.Action("Create", "Likes", new { PostId = item.PostId })" title="List View" class="links">
                                    @if(!item.Likes.Any(l => l.UserId == uId && l.PostId == item.PostId)){
                                        <img class="like" style="-webkit-filter: grayscale(100%);" src="@Url.Content("~/images/like.png")"> 
                                    }else{
                                        <img class="like" src="@Url.Content("~/images/like.png")"> 
                                    }
                                </a>
                            </div>
                            <div style="display:table-cell; text-align:right; padding-right:10px; width:100%;">
                                @{
                                    if(uId.Equals(item.OwnerId)){
                                            <a asp-action="Edit" asp-route-id="@item.PostId">Edit</a>
                                            <a asp-action="Delete" asp-route-id="@item.PostId">Delete</a>
                                    }else{
                                        <br>
                                    }
                                }
                            </div>
                        </div>
                    </p>
                </div>
        </td>
    </tr>
}
    </tbody>
</table>
